@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply text-sm font-medium text-center px-3 py-1 rounded-md transition-all duration-300 ease-in-out cursor-pointer;
}
.primary-btn {
  @apply text-white bg-indigo-500 shadow-primary-btn-default hover:shadow-primary-btn-hover hover:bg-indigo-600 active:shadow-primary-btn-active disabled:bg-indigo-400 disabled:shadow-primary-btn-disabled disabled:text-indigo-0;
}
.secondary-btn {
  @apply text-gray-700 bg-white shadow-secondary-btn-default hover:text-gray-900 hover:shadow-secondary-btn-hover active:shadow-secondary-btn-active disabled:bg-gray-0 disabled:shadow-secondary-btn-disabled disabled:text-gray-400;
}
.danger-btn {
  @apply text-white bg-red-500 shadow-danger-btn-default hover:bg-red-600 hover:shadow-danger-btn-hover active:shadow-danger-btn-active;
}
.primary-input {
  @apply rounded-md px-3 py-1.5 text-sm bg-white text-gray-900 placeholder:text-gray-700 outline-none shadow-primary-input-default transition-all duration-300 ease-in-out hover:shadow-primary-input-hover focus:shadow-primary-input-focus;
}

/* Navigation */
.filter-status-navigation {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.filter-status-navigation::-webkit-scrollbar {
  display: none;
}
.filter-status-tab {
  @apply flex items-center gap-1 text-gray-700 font-medium text-sm transition-all duration-300 ease-in-out relative hover:text-indigo-500 after:content-[""] after:absolute after:-bottom-2 after:left-0 after:h-[2.5px] after:bg-indigo-500;
}
.filter-status-tab[data-active="true"] {
  @apply font-bold text-indigo-500 after:w-full;
}
.filter-status-tab span {
  @apply bg-gray-1 px-1.5 rounded-xl text-[10px];
}
.filter-status-tab[data-active="true"] span {
  @apply font-bold;
}

/* Toast Message */
.toast-notification {
  @apply fixed bottom-5 left-1/2 -translate-x-1/2 z-[100] px-5 py-4 w-max text-sm font-medium text-center rounded-lg flex items-center gap-2.5 bg-green-800 text-green-100 shadow-toast-notification;
  animation: toast-in 0.5s ease forwards, toast-out 0.5s ease 2.5s forwards;
}
@keyframes toast-in {
  from {
    transform: translate(-50%, 100%);
    opacity: 0;
  }
  to {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}
@keyframes toast-out {
  from {
    transform: translate(-50%, 0);
    opacity: 1;
  }
  to {
    transform: translate(-50%, 100%);
    opacity: 0;
  }
}

/* Table */
.table-wrapper {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.table-wrapper::-webkit-scrollbar {
  display: none;
}

/* Sorting */
.sort-btn {
  @apply inline-flex items-center gap-1 uppercase font-medium text-xs text-gray-500;
}
.sort-btn[data-active="true"] {
  @apply text-gray-900;
}
.sort-btn[data-active="true"][data-order="desc"] i {
  @apply rotate-180;
}

/* PM */
.manager-tooltip {
  @apply bg-gray-900 absolute text-center w-max py-3 px-4 rounded-lg z-10 left-1/2 -translate-x-1/2 before:content-[''] before:absolute before:border-[10px] before:left-1/2 before:-translate-x-1/2 before:border-transparent before:border-b-gray-900 top-full before:top-[-7px] before:border-x-[10px] before:border-b-[10px] before:border-t-[0px];
}

/* Status */
.project-status-cell .on-track {
  @apply text-green-500 bg-green-0;
}
.project-status-cell .on-track-indicator {
  @apply bg-green-500;
}
.project-status-cell .potential-risk {
  @apply text-orange-500 bg-orange-0;
}
.project-status-cell .potential-risk-indicator {
  @apply bg-orange-500;
}
.project-status-cell .on-hold {
  @apply text-gray-500 bg-gray-50;
}
.project-status-cell .on-hold-indicator {
  @apply bg-gray-500;
}
.project-status-cell .at-risk {
  @apply text-red-500 bg-red-0;
}
.project-status-cell .at-risk-indicator {
  @apply bg-red-500;
}
.status-update-form {
  @apply absolute z-10 w-full max-w-[272px] rounded-lg bg-gray-0 before:content-[''] before:absolute before:border-[10px] before:left-1/2 before:-translate-x-1/2 before:border-x-[10px] before:border-b-[10px] before:border-t-0 before:border-transparent top-full before:top-[-10px] before:border-b-gray-0 shadow-status-update-form;
}

/* Resource */
.resource-tooltip {
  @apply bg-gray-900 absolute w-max py-3 px-4 rounded-lg z-10 left-1/2 -translate-x-1/2 before:content-[''] before:absolute before:border-[10px] before:left-1/2 before:-translate-x-1/2 before:border-x-[10px] before:border-b-[10px] before:border-t-0 before:border-transparent before:border-b-gray-900 top-full before:top-[-10px];
}

/* Actions Cell */
.project-row:has(.project-actions-menu) {
  @apply bg-gray-0;
}
.project-row:has(.project-actions-menu) .menu-toggle-btn,
.project-row:hover .menu-toggle-btn {
  @apply block;
}
