@tailwind base;
@tailwind components;
@tailwind utilities;

.filter-tabs-nav {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.filter-tabs-nav::-webkit-scrollbar {
  display: none;
}
.main {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.main::-webkit-scrollbar {
  display: none;
}
.button {
  @apply text-sm font-medium text-center px-3 py-1.5 rounded-md transition ease-in-out duration-300;
}
.primary-button {
  @apply text-white bg-indigo-500 shadow-custom hover:bg-indigo-600 hover:shadow-custom2 active:shadow-custom3 disabled:bg-indigo-300 disabled:text-[#EDEDFC] disabled:shadow-custom18;
}
.secondary-button {
  @apply text-gray-700 bg-white shadow-custom4 hover:text-gray-900 hover:shadow-custom5 active:shadow-custom6 disabled:bg-[#F7F9FC] disabled:text-gray-400 disabled:shadow-custom20;
}
.danger-button {
  @apply text-white bg-red-500 shadow-custom7 hover:bg-red-600 hover:shadow-custom8 active:shadow-custom9 disabled:bg-red-300 disabled:text-red-100 disabled:shadow-custom21;
}
.primary-input {
  @apply rounded-md px-3 py-1.5 text-sm text-gray-900 placeholder:text-gray-700 outline-none shadow-custom14 transition ease-in-out duration-300 hover:shadow-custom15 focus:shadow-custom16 disabled:bg-[#F7F9FC] disabled:text-gray-500 disabled:shadow-custom20;
}
.filter-tab {
  @apply flex items-center gap-1 text-gray-700 font-medium text-sm transition duration-300 hover:text-indigo-500;
}
.filter-tab.active {
  @apply font-bold text-indigo-500 relative;
}
.filter-tab.active::after {
  content: "";
  @apply absolute -bottom-2 left-0 w-full h-[2.5px] bg-indigo-500 rounded-lg;
}
.filter-tab span {
  @apply bg-[#E9EDF5] px-1.5 rounded-xl text-[10px];
}
.filter-tab.active span {
  @apply font-medium;
}
.checkbox-btn {
  @apply w-4 h-4 rounded shadow-custom13 transition-all checked:bg-indigo-500 appearance-none border-none cursor-pointer outline-none duration-150 ease-in hover:shadow-custom5 active:shadow-custom6 relative  checked:after:text-gray-100 checked:after:text-xs checked:after:absolute checked:after:top-1/2 checked:after:left-1/2 checked:after:transform checked:after:translate-x-[-50%] checked:after:translate-y-[-50%] after:scale-0 checked:after:scale-100 after:transition-transform after:duration-150;
}
.checkbox-btn-single {
  @apply checked:after:content-['✓'];
}
.checkbox-btn-all {
  @apply checked:after:content-['-'];
}
.project-row:has(input[type="checkbox"]:checked) {
  @apply bg-[#EDEDFC];
}
